.button {
  color: #f14e32;
  background-color: #fcfcfa;
  border: none;
  font-weight: bolder;
  font-size: 24px;
  width: 75px;
  height: 60px;
  box-shadow: 0px 4px #f0f0e8;
  border-radius: 10%;
}

.button:active {
  box-shadow: 0px 2px #f0f0e8;
  transform: translateY(4px);
}