@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

body {
  background-color: lightslategray;
}

h1 {
  color: white;
}

.cloud-form {
  background-image: linear-gradient(#2980b9, #6dd5fa, #ffffff);
  border-radius: 8px;
  height: 25rem;
  width: 22rem;
  box-shadow: 0 1px 43px 9px #ffffff;
}

.hide-form {
  display: none;
}

.signup-form label {
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.signup-form button {
  width: 33%;
}

#form-sign-up {
  width: 75%;
  margin: auto;
  padding: 1rem;
}